@model GrandHotel.Models.Client
@{
    ViewData["Title"] = "Modifiez vos Coordonnées";
    ViewData.AddActivePage(ManageNavPages.Edit);
}

<h4>@ViewData["Title"]</h4>
@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input asp-for="Civilite" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Nom" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Prenom" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value=@ViewBag.Email disabled="disabled" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CarteFidelite" /> @Html.DisplayNameFor(model => model.CarteFidelite)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Societe" class="control-label"></label>
                <input asp-for="Societe" class="form-control" />
                <span asp-validation-for="Societe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.Rue" class="control-label"></label>
                <input asp-for="Adresse.Rue" class="form-control" />
                <span asp-validation-for="Adresse.Rue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.Complement" class="control-label"></label>
                <input asp-for="Adresse.Complement" class="form-control" />
                <span asp-validation-for="Adresse.Complement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.CodePostal" class="control-label"></label>
                <input asp-for="Adresse.CodePostal" class="form-control" />
                <span asp-validation-for="Adresse.CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.Ville" class="control-label"></label>
                <input asp-for="Adresse.Ville" class="form-control" />
                <span asp-validation-for="Adresse.Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone[0].Numero" class="control-label"></label>
                <input asp-for="Telephone[0].Numero" class="form-control">
                <span class="text-danger">@ViewBag.ErreurTelephone</span>
                <span asp-validation-for="Telephone[0].Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone[0].CodeType" class="control-label"></label>
                <select asp-for="Telephone[0].CodeType" class="form-control">
                    <option value='M'>Mobile</option>
                    <option value='F'>Fixe</option>
                </select>
                <span asp-validation-for="Telephone[0].CodeType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Tel.Pro" /> <span>Numero professionnel</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}