body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(255,0,200,0.1);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
#indexRecherch {
    background-image: url('../images/h5.jpg');

}
.has-spinner.active {
    cursor: progress;
}

 .has-spinner.active .spinner {
        opacity: 1;
        width: auto;
    }

.has-spinner.btn.active .spinner {
    min-width: 20px;
}
#FormContact {
    background-image: url('../images/images.jpg');
    background-image: url('../images/contact.jpg');
}