
@{
    ViewData["Title"] = "Gestion Interne";
}

<h2>Gestion Interne</h2>

<a asp-controller="ListeClients" asp-action="Index"><strong>Liste des Clients</strong></a>
<br/>

<a asp-controller="ListeChambres" asp-action="Index"><strong>Liste des Chambres</strong></a>

