
@{
    ViewData["Title"] = "Gestion Interne";
}

<h2>Gestion Interne</h2>

<div class="module three-col spa grid-view-info  dummyClass right js-colgroup-675" style="min-height: 363px;">

    <div class="module-header">
        <img alt="" src="//photos.mandarinoriental.com/is/image/MandarinOriental/residences-atlanta-HAG-1?$GridStandardHeight$">
    </div>

    <div class="module-body expando" style="overflow: hidden; min-height: 116px;">

        <h3>Liste des Clients</h3>


        <div class="rtf">
            <a asp-controller="ListeClients" asp-action="Index"><strong>Liste des Clients</strong></a>


        </div>
    </div>
</div>


<div class="module-header">
    <img alt="" src="//photos.mandarinoriental.com/is/image/MandarinOriental/las-vegas-suite-cityscape-suite?$GridStandardHeight$">>
</div>

<div class="module-body expando" style="overflow: hidden; min-height: 116px;">

    <h3>Liste des Chambres</h3>


    <div class="rtf">
        <a asp-controller="ListeChambres" asp-action="Index"><strong>Liste des Chambres</strong></a>


    </div>
</div>



